services/GetUserByIdWS_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetUserWS"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="GetUserWSOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="id" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUserWSOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="tns:user"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="nom" type="xsd:string"></xsd:element>
					<xsd:element name="prenom" type="xsd:string"></xsd:element>
					<xsd:element name="login" type="xsd:string"></xsd:element>
					<xsd:element name="password" type="xsd:string"></xsd:element>

				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:int"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetUserWSOperationRequest">
		<wsdl:part name="parameters" element="tns:GetUserWSOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetUserWSOperationResponse">
		<wsdl:part name="parameters" element="tns:GetUserWSOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="GetUserWSPortType">
		<wsdl:operation name="GetUserWSOperation">
			<wsdl:input message="tns:GetUserWSOperationRequest"></wsdl:input>
			<wsdl:output message="tns:GetUserWSOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetUserWSBinding"
		type="tns:GetUserWSPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetUserWSOperation">

			<soap:operation
				soapAction="http://www.talend.org/service/GetUserWSOperation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetUserWS">
		<wsdl:port name="GetUserWSPort" binding="tns:GetUserWSBinding">
			<soap:address location="http://localhost:8090/services/GetUserWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>